.lista-nav {
    display: flex;
    flex-direction: column;
}

.lista-nav__lista {
    display: flex
;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.lista-nav__item {
    color: var(--color-text-secondary);
}

.lista-nav__item:hover {
    background-color: var(--color-surface-2);
    border: 1px solid var(--color-surface-2);
    border-radius: 10px;
    color: var(--color);
    cursor: pointer;
    padding: 0 0.2rem;
    width: 100%;
    font-weight: 600;
}

