.listas {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    color: var(--color);
    padding: 20px;
    font-weight: 700;
    flex-grow: 1;
    border-radius: var(--border);
}