.formulario__tarefa{
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    color: var(--color);
    padding: 20px;
    border-radius: var(--border);
    box-shadow: var(--box-shadow);
}

.tarefa__titulo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.input-titulo {
    background-color: var(--color-surface-2);
    color: var(--color);
    padding: 6px;
    outline-style: none;
    border: 1px solid var(--color-border);
    border-radius: 8px;
}

.tarefa__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
        "titulo prioridade projeto"
    ;
     gap: 10px;
    margin-bottom: 10px;
}

.task-form__row--grid{
    grid-area: titulo;
}

.task-form__row--grid{
    grid-area: prioridade;
}

.task-form__row--grid{
    grid-area: projeto;
}

.tarefa__select{
    display: flex;
    gap: 10px;
}

.tarefa__tags{
    display: flex;
    flex-direction: column;
     gap: 10px;
    margin-bottom: 10px;
}

.input-tags {
    background-color: var(--color-surface-2);
    color: var(--color);
    padding: 6px;
    outline-style: none;
    border: 1px solid var(--color-border);
    border-radius: 8px;
}

.tarefa__botoes{
    display: flex;
    gap: 10px;
}

.input-data {
    background-color: var(--color-surface-2);
    color: var(--color);
    padding: 6px;
    outline-style: none;
    border: 1px solid var(--color-border);
    border-radius: 8px;
}

.input-prioridade{
    background-color: var(--color-surface-2);
    color: var(--color);
    padding: 6px;
    outline-style: none;
    border: 1px solid var(--color-border);
    border-radius: 8px;
}

.input-projetos {
    background-color: var(--color-surface-2);
    color: var(--color);
    padding: 6px;
    outline-style: none;
    border: 1px solid var(--color-border);
    border-radius: 8px;
}

.button-submit {
    background-color: var(--color-primary);
    color: var(--color);
    padding: 6px;
    outline-style: none;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    cursor: pointer;
}

.button-reset {
    background-color: var(--color-text-secondary);
    color: var(--color);
    padding: 6px;
    outline-style: none;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #6365f183;
}

.button-reset:hover {
    background-color: #94a3b87c;
}