.task__header{
    display: flex
;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tarefas__heading{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.dropdown__container{
    display: flex;
    gap: 30px;
    align-items: flex-end;
    height: 84px;
}

.opcoes{
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropbtn__opcoes{
    color: var(--color);
    padding: 3px;
    font-size: 16px;
}

.dropdown__conteudo-opcoes {
    display: flex;
    background-color: var(--color-surface-2);
    color: var(--color);
    padding: 6px;
    outline-style: none;
    border: 1px solid var(--color-border);
    border-radius: 8px;
}

.dropdown__conteudo-opcoes a {
    color: var(--color);
    text-decoration: none;
    padding: 12px 15px;
    display: block;
}

.opcoes:hover .dropdown__conteudo-opcoes {
    display: block;
}

.agrupar{
     display: flex;
    align-items: center;
    gap: 10px;
}

.dropbtn__agrupar{
   color: var(--color);
    padding: 3px;
    font-size: 16px;
}

.dropdown__conteudo-agrupar {
   display: flex;
    background-color: var(--color-surface-2);
    color: var(--color);
    padding: 6px;
    outline-style: none;
    border: 1px solid var(--color-border);
    border-radius: 8px;
}

.dropdown__conteudo-agrupar a {
    color: var(--color);
    text-decoration: none;
    padding: 12px 15px;
    display: block;
}

.agrupar:hover .dropdown__conteudo-agrupar {
    display: block;
}

.main-title__task{
    font-size: 2rem;
}