.rodape-container {
    grid-area: footer;
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    color: var(--color);
    padding: 20px; 
    border-radius: var(--border); 
}

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

