.main__container {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
        "header header header"
        "aside section section"
        "footer footer footer"
    ;
    
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr auto 1fr;
    gap: 20px;
    padding: 20px;

}
