.app-header {
  grid-area: header;
    background-color: var(--color-surface);
    color: var(--color);
    padding: 20px;
    border-bottom: 1px solid #1f2937;
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: var(--border);
}
.app-header__inner {
   display: flex
;
    align-items: center;
    gap: 20px;
}

.app-header__actions { display: flex; align-items: center; gap: 20px; }
.avatar { border-radius: 50%; box-shadow: var(--box-shadow); }